extends layout

block content
  h1= title
  p Bienvenido a #{title}
  h2 Jade o Pug
  br

  div
    p es un motor de Node.js. y Precompilador de HTML con el que seremos capaces de escribir código HTML de una sintaxis mucho más sencilla, clara y directa,
    p tanto a la hora de escribir como de leer y modificar. Y facilita evitar la a veces fastidiosa sintaxis de html. Haciendola más amena y traduciendola
  h2 Desventajas
  p Sin embargo, si se quiere usar algun codigo HTML, este debemos pasarlo a PUG
  ul
    li Si se es principiante en el front end, es complicado entender que herramientas usar para utilzarlo
    li No hay mucha informacion
    li Existen un visualizadores de codigo pug como https://codepen.io
    li Permite usar variables
    li mas info aca --> https://codeburst.io o en https://www.sitepoint.com/jade-tutorial-for-beginners/
    img.d(src="https://cdn-images-1.medium.com/max/800/1*TY6Kd1abTDH6-jtGQEoeIA.png")


  h2 Que es Sass
  p El objetivo principal de Sass es el de corregir los defectos de CSS. Como todos sabemos, CSS no es el mejor lenguaje del mundo [cita requerida] y aunque es sencillo de aprender, puede convertirse en un auténtico desorden, especialmente en proyectos grandes.
  p aquí donde Sass cobra sentido, ya que actúa como un meta-lenguaje para mejorar la sintaxis de CSS con el fin de proporcionar características extra y herramientas útiles. Entretanto, Sass quiere ser conservador con respecto al lenguaje CSS.
  p idea no es convertir CSS en un lenguaje de programación totalmente funcional; Sass solo quiere mejorar aspectos donde CSS falla. Por ello, empezar con Sass no es más difícil que aprender CSS: Sass simplemente agrega un par de características adicionales.
  img.d(src="https://spzone-simpleprogrammer.netdna-ssl.com/wp-content/uploads/2017/04/Untitled-1-1024x576.png")

  ul
    li Mas informacion para probarlo https://www.sassmeister.com
    
